{
    "presets":[
        "es2015", "react", "stage-0"
    ],
    "plugins": [
        "inline-dotenv",
        ["babel-plugin-root-import", {
            "rootPathPrefix": "~",
            "rootPathSuffix": "./bundle"
        }]
    ]
}
