@import '../../../sass/variables';

.MessageText{
  background-color: #019934;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 0;
  max-width: none;
  text-align: center;

  &.alert-danger{
    background-color: #ed1c24;
  }

  &.alert-warning{
    background-color: #e9a33c;
  }
}
