@import '../../../sass/variables';

.Pagination{
  margin: auto;
  text-align: center;
  padding: 30px 0;
  ul {
    margin-bottom: 0;
  }
  li {
    padding: 0;
    display: inline-block;
    &:first-child, &:last-child {
      a {
        height: 33px;
      }
    }
  }
  a {
    display: inline-block;
    min-width: 30px;
    padding: 7px;
    line-height: 1;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 3px;
    color: #209afe;
    border: 1px solid #209afe;

    &:hover, &:focus {
      text-decoration: none;
    }

    // state
    &.__other {

    }
    &.__active, &:hover {
      background-color: #daeffe;
    }
    &.__disabled {
      cursor: default;
      pointer-events: none;
      border: 1px solid #ececec;
      color: #ececec;
    }
  }

  // state
  li.disabled {
    a{
      opacity: .3;
      cursor: default;
      pointer-events: none;
    }
  }

  li.active {
    a{
      color: #209afe;
    }
  }
}
